---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$right-sidebar-width-narrow: 150px !default;
$right-sidebar-width: 230px !default;
$right-sidebar-width-wide: 280px !default;

/* system typefaces */
$serif: Georgia, Times, serif !default;
$sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;

/* sans serif typefaces */
$sans-serif-narrow: $sans-serif !default;
$helvetica: Helvetica, "Helvetica Neue", Arial, sans-serif !default;

/* serif typefaces */
$georgia: Georgia, serif !default;
$times: Times, serif !default;
$bodoni: "Bodoni MT", serif !default;
$calisto: "Calisto MT", serif !default;
$garamond: Garamond, serif !default;

$global-font-family: $serif !default;
$header-font-family: $sans-serif !default;
$caption-font-family: $serif !default;

@import "minimal-mistakes/skins/_{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

.page__content {
  font-size: 0.9em;
}
